[http]
  version = HTTP/1.1
[merge]
  tool = diffview
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "diffview"]
  cmd = "GIT_DIFFTOOL=1 nvim -n -c \"DiffviewOpen\" \"$MERGE\""

[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
    cmd = "GIT_DIFFTOOL=1 nvim -d \"$LOCAL\" \"$REMOTE\""
